body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    gap: 12px;
}
button{
    height: 60px;
    width: 60px;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    border-radius: 50% ;
    color:white;
}
.decrement{
    background-color: orange;
}
.reset{
    background-color: black;
}
.increment{
    background-color: green;
}